<html>
<body>
<h1>Trip APP</h1>
<a href="/triplist">View available trips</a>
<h3>Enter a trip</h3>
<form action="/addtrip" method="POST">
    <input type="text" name="title" placeholder="Trip title" />
    <input type="text" name="imageURL" placeholder="Image link" />
    <input type="text" name="leaveDate" placeholder="Departure date" />
    <input type="text" name="returnDate" placeholder="Return date" />
    <button type="submit">Submit Trip</button>
</form>
</body>
</html>