.menu {
    height: 50px;
    color: white;
    background-color: #3498db;
    text-align: left;
    font-size: 20;
    word-spacing: 70px;
    width: 100%;
    padding-top: 30px;
    padding-left: 10px
}

.article {
    margin-top: 10px;
    width: 90%;
}

.feature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.curse-title {
    background: grey;
    color: black;
    font-size: 20;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.curse-body {
    background: grey;
    color: black;
    font-size: 10;
    align-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.article-title {
    color: blue;
    font: arial;
    font-size: 18;
    margin-top: 12px;
    margin-bottom: 5px;
}

.article-body {
    font-size: 10;
}

.comment {
    background-color: orange;
    height: 20px;
}

.comment div {
    background-color: orange;
    color: white;
    font-size: 10;
    display: inline-block;
    margin: 5px;
    vertical-align: baseline;
}

.category {
    background-color: grey;
    margin: 10px;
    height: 120px;
    width: 200px;
    position: relative;
    text-align: center;
    font-size: 20;
    padding-top: 80px;
    display: inline-block;
}

.number-articles {
    background-color: grey;
    position: absolute;
    top: 170px;
    left: 80px;
    text-align: center;
    font-size: 10;
}

.row-3 {
    display: inline-block;
}